/*#region Common  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #9792E4;
    --secondary: #0084FD;
    --secondary_lighter: #B5DDFF;
    --accent: #FDC15F;
    --dark: #333333;
    --light: #FFFFFF;
}

.container{
    width: 80%;
    margin: auto;
}

img{
    max-width: 100%;
}

.col_12{
    width: 100%;
}

.col_11{
    width: calc(100% / 12 * 11);
}

.col_10{
    width: calc(100% / 12 * 10);
}

.col_9{
    width: calc(100% / 12 * 9);
}

.col_8{
    width: calc(100% / 12 * 8);
}

.col_7{
    width: calc(100% / 12 * 7);
}

.col_6{
    width: 50%;
}

.col_5{
    width: calc(100% / 12 * 5);
}

.col_4{
    width: calc(100% / 12 * 4);
}

.col_3{
    width: calc(100% / 12 * 3);
}

.col_2{
    width: calc(100% / 12 * 2);
}

.col_1{
    width: calc(100% / 12 * 1);
}

[class^="col_"]{
    padding: 0 1rem;
}

section{
    margin-top: 2rem;
}

/* #endregion Common */

/* #region Utilities */
.d_flex{
    display: flex;
}

/* #endregion Utilities */

/* #region Debug */
.debug .logo, 
.debug .menu {
    height: 80px;
    border: 1px solid;
}

.debug .logo{
    width: 150px;
}
.debug .menu{
    width: 350px;
}

.debug [class^="col_"]{
    border: 1px solid red;
    height: 300px;
    background-color: lightgray;
}

.debug .heading,
.debug .testimonial{
    height: 200px;
    background-color: aquamarine;
    border: 1px solid blue;
}
/* #endregion Debug */

/* #region Header */
    header{
        background-color: var(--secondary);
    }
    header .container{
        padding: 1rem 0;
    }
    
    nav{
        justify-content: space-between;
    }
/* #endregion Header */

/* #region Main */
.row{
    display: flex;
    flex-wrap: wrap;
}

.planning, 
.benefits{
    background-color: var(--primary);
    padding: 2rem 0;
}

.testimonial{
    margin: 2rem 0;
}

/* #endregion Main */

/* #region Footer*/

/* #endregion Footer */

/* #region Responsive Tablet*/
@media screen and (min-width: 768px) {
    .col_md_8{
        width: calc(100% / 12 * 8);
    }

    .col_md_4{
        width: calc(100% / 12 * 4);
    }

    .col_md_6{
        width: 50%;
    }

}
/* #endregion Responsive Tablet */

/* #region Responsive Desktop*/
@media screen and (min-width: 1200px) {
    .col_lg_6{
        width: 50%;
    }

    .col_lg_4{
        width: calc(100% / 12 * 4);
    }
    
}
/* #endregion Responsive Desktop */